---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: k8s-keystone-auth
  namespace: kube-system
  labels:
    app: k8s-keystone-auth
spec:
  replicas: 1
  selector:
    matchLabels:
      app: k8s-keystone-auth
  template:
    metadata:
      labels:
        app: k8s-keystone-auth
    spec:
      nodeSelector:
        dedicated: k8s-master
      hostNetwork: true
      containers:
        - name: k8s-keystone-auth
          image: rdil/k8s-keystone-auth:latest
          imagePullPolicy: Always
          args:
            - ./bin/k8s-keystone-auth
            - --tls-cert-file
            - /etc/kubernetes/pki/apiserver.crt
            - --tls-private-key-file
            - /etc/kubernetes/pki/apiserver.key
            - --keystone-url
#            - "{{ lookup('env','OS_AUTH_URL') | replace('v2.0','v3') }}"
            - https://keystone.cloud.garr.it:5000/v3
#           - --policy-configmap-name
            - k8s-auth-policy
            - --sync-config-file
            - /etc/kubernetes/pki/identity/keystone/syncconfig.yaml
          volumeMounts:
          - mountPath: /etc/kubernetes/pki
            name: k8s-certs
            readOnly: true
          - mountPath: /etc/ssl/certs
            name: ca-certs
            readOnly: true
          ports:
            - containerPort: 8443
      volumes:
      - name: k8s-certs
        hostPath:
          path: /etc/kubernetes/pki
          type: DirectoryOrCreate
      - name: ca-certs
        hostPath:
          path: /etc/ssl/certs
          type: DirectoryOrCreate
---
